<!-- ABOUT -->
<div class="page-section" id="about">
    <div class="row">
        <div class="col-md-12">
            <h4 class="widget-title">Learn About Me</h4>
            <div class="about-image">
                <img src="img/uworkflow-team1.png" alt="about me">
            </div>
            <p>
                I'm doing software development since 2004.
                From that time, I've done several projects,
                participated in another number of teams
                and played with many different technologies, programming languages and frameworks.
            </p>
            <p>
                In 2013 I joined IPONWEB company as Perl/Lua developer.
                For that period I've played many different roles in different projects and with different teams.
            </p>
            <p>
                At the moment, I'm in Bidcast team and we are working on
                the Intelegent Load Balancer and I could say that's not a trivial task ;).
            </p>

            <p>
                I do Golang coding and diving into the DevOps culture.
                The principles of the DevOps are close to myself and I am happy
                that I am able to experence them and share with others.
            </p>
            <p>
                I used to work with flexible(but slow), strict(but high-perfofmance),
                object oriented, procedural, functional, WebUI, DesktopUI, for Windows, for Linux systems.
            </p>
            <p>
                I found the always working algorithm:

                <ul class="done-algo bold">
                    <li>Focus on the task</li>
                    <li>Do research</li>
                    <li>Get it DONE</li>
                </ul>
            </p>
            <hr>
        </div>
    </div> <!-- #about -->
</div>
