
<!-- BLOG -->
<div class="page-section" id="blog">
    <div class="row">
        <div class="col-md-12">
            <h4 class="widget-title">Blog</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- <a class="b" href="blog-golang-metrics.html">Golang metrics</a> -->
            <a class="b" href="blog/patterns/InitStartStop.html">Init Start Stop pattern</a>
            <a class="b" href="golang/metrics">Go lang metrics</a>
        </div>
    </div> <!-- .blog -->
</div>
