
<!-- BLOG -->
<div class="page-section" id="blog">
    <div class="row">
        <div class="col-md-12">
            <h4 class="widget-title">Blog</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="b" href="golang/ioutil-readall">ioutil.ReadAll performance</a>
            <div>
                In this article we consider why is using ioutil.ReadAll could be inefficient and how to workaround that issue.
                <br/>
                <span class="label label-default">#performance</span>
                <span class="label label-default">#go tool pprof</span>
                <span class="label label-default">#memory</span>
            </div>
            <!-- <a class="b" href="blog-golang-metrics.html">Golang metrics</a> -->
            <!-- <a class="b" href="blog/patterns/InitStartStop.html">Init Start Stop pattern</a> -->
        </div>
    </div> <!-- .blog -->
</div>
