<!-- PROJECTS -->
<div class="page-section" id="projects">
    <div class="row">
        <div class="col-md-12">
            <h4 class="widget-title">Projects I did</h4>
            <div class="project-item">
                <div class="mshogin-project-hover">
                    <div class="inside">
                        <!-- cicd -->
                        <h5><a href="#"><strong>CI/CD</strong></a></h5>
                        <p class="fun">
                            <i class="fa fa-microchip"> DevOps - rulez!</i>
                        </p>
                        <p>
                            Here in Bidcast, we designed CI Pipeline for the comprehensive testing of
                            the high-performance <a href="load-balancer">load balancer</a> written on GOlang.
                            We mainly focus on the performance and the stability of the product.
                        </p>
                        <p>
                            To meet those reqiurements we created next stages:
                            <ul>
                                <li>Race condition detector</li>
                                <li>Core dump detector</li>
                                <li>Performance degradation detector</li>
                                <li>Resource degradation detector(cpu, heap, runtime in our case)</li>
                            </ul>
                        </p>
                        <p>
                            That helped us significantly improve the time of delivery
                            and the quality of the product.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:20px">
        <div class="col-md-12" id="load-balancer">
            <div class="project-item">
                <div class="mshogin-project-hover">
                    <div class="inside">
                        <!-- load balancer -->
                        <h5><a href="#"><strong>Inteligent Load Balancer</strong></a></h5>
                        <p class="fun">
                            <i class="fa fa-file-code"> Not much to say </i><i style="padding-left: 5px" class="fa fa-file-signature"></i>
                        </p>
                        <p>
                            Our team is working on high-perfomance intelegent load balancer.
                            I can say hard working. <i class="fa fa-hammer"></i>
                        </p>
                        <p>
                            I'm not sure what can I write about it,
                            but I will.
                            <!-- todo -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:20px">
        <div class="col-md-12" id="micro-services">
            <div class="project-item">
                <div class="mshogin-project-hover">
                    <div class="inside">
                        <!-- microservices -->
                        <h5><a href="#"><strong>Microservices</strong></a></h5>
                        <p class="fun">
                            <i class="fa fa-network-wired"> Of cause we tried them</i>
                        </p>
                        <p>
                            When maintaince of monolith becomes too hard it's time to go
                            to microservices architecture.
                        </p>
                        <p>
                            We started breaking our monolith into microservices and
                            as a result
                            we designed API Gateway with authZ inside it
                            and
                            several services behind the gate.
                        </p>
                        <p>
                            All that infrastrucute was protected by the CI pipeline,
                            which was able to startup the whole infrastructure
                            and run the tests agains it as well as to focus only on one
                            particular service and play with it.
                        </p>
                        <p>
                            I started to like mSOA,
                            when some time later I was able completely rewrite
                            one service. That work was done fast and without any dependency
                            to the rest of the system.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:20px">
        <div class="col-md-12">
            <div class="project-item">
                <div class="mshogin-project-hover">
                    <div class="inside">
                        <!-- rest api -->
                        <h5><a href="#"><strong>Rest API</strong></a></h5>
                        <p>
                            We created a monolith application server which
                            was designed the same way as a "LEGO" constructor.
                            That means that it has a lot(I mean <b>a lot</b>)of small components.
                        </p>
                        <p>
                            Our primary focus was on the possibility of the system
                            to configure itself on the fly by given configuration.
                            That configuration driven development allows us to
                            manage objects and thier relations with OpenAPI compatible schemas.
                        </p>
                        <p>
                            The schema was the hart of the system. <i class="fa fa-hart"></i>
                        </p>
                        <p>
                            Such an approach helps us
                            <ul>
                                <li>speedup the projects delivery</li>
                                <li>keep all souce code in one repository</li>
                                <li>support many projects by small team</li>
                            </ul>
                            That was a "rocket scince" system.
                            Our team becomes an experts in Python, Django and DRF.
                        </p>
                        <p>
                            We also build a CI pipeline which
                            allowed us to keep high quality of the delivered projects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:20px">
        <div class="col-md-12">
            <div class="project-item">
                <div class="mshogin-project-hover">
                    <div class="inside">
                        <!-- social network -->
                        <h5><a href="#"><strong>Social network</strong></a></h5>
                        <p>
                            That was fun!
                        </p>
                        <p>
                            I've created a social network for the pets and their owners.
                        </p>
                        <p>
                            That was time of social networks,
                            it appeared one by one, I think, every month.
                            Our MVP had a standard set of features:
                            <ul>
                                <li>News feed</li>
                                <li>Gallary</li>
                                <li>Account management</li>
                                <li>Messaging</li>
                                <li>Community</li>
                                <li>Posts management</li>
                            </ul>
                        </p>
                        <p>
                            That time I did the full-stack and actually
                            was impresed how cool things you can do with JavaScript(that time I use jQuery and Bootstap).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:20px">
        <div class="col-md-12">
            <div class="project-item">
                <div class="mshogin-project-hover">
                    <!-- mail sender -->
                    <div class="inside">
                        <h5><a href="#"><strong>Email marketing Service</strong></a></h5>
                        <p>
                            That was all about emailing.
                            We sent around 30-40 millions of emails every day
                            and every email was personalized.
                            I think the most challanged tasks were:
                            the <strong>Mail sender</strong>
                            and the <strong>Targeting machine</strong>.
                        </p>
                        <p>
                            The final version of Mail sender
                            was written on Perl programming language
                            and was based on event loop programming approach.
                        </p>
                        <p>
                            That was time of "hardcore": daemons,
                            multiprocessing communications,
                            sockets, synchronizations and all that stuff.
                        </p>
                        <p>
                            Targeting machine was my first experience with AdTech.
                            We did personalized targeting for each letter.
                        </p>
                        <p>
                            Ultimately, we came up with the solution which allowed
                            us to check all possible variants and get the result with O(1).
                            Basicaly, we created the complext data structure with custom hashing function.
                            When ads were ready, we generetead AdCache,
                            that was really huge, but worked super fast.
                        </p>
                        <p>
                            By the way, doing that project I learned <strong>TDD</strong>
                            and since that time
                            I do testing for all my code everytime.
                            Actually, that was time when many current technologies were born:
                            <ul>
                                <li>
                                    <strong>jQuery</strong> was wolking around the world
                                    and ajax was like a magic
                                </li>
                                <li>
                                    <strong>Hudson</strong>,
                                    these days we call it <strong>Jenkins</strong>,
                                    made automation an easy task
                                </li>
                                <li>
                                    The <strong>Django framework</strong> made making web
                                    an easy task
                                </li>
                                <li>
                                    <strong>Python</strong> was beating
                                    <strong>Perl</strong>
                                </li>
                                <li>
                                    <strong>Node</strong> showed that
                                    <strong>JavaScript</strong> is cool for backend
                                </li>
                                <li>
                                    <strong>Golang</strong> showed how it's easy to make
                                    background processes and orginize communication
                                    channel between them.
                                </li>
                                <li>and many more...</li>
                            </ul>
                        </p>
                        <p>
                            Actually, I am happy that I participated that technology revolution, and still participating.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .projects-holder -->
</div>
<hr>
