
<!-- TRAVEL -->
<div class="page-section" id="places">
    <div class="row">
        <div class="col-md-12">
            <h4 class="widget-title">Places I've been</h4>
            <p>
                Actually to remember all the places I've been is very difficult task and only my wife is able to help me with it. <strong>Спасибо дорогая, я люблю тебя!</strong>
            </p>
            <div class="about-image" style="margin-top: 10px">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1oqsyxGbRaVlxpoEV1Cn-hrTx-cU" width="100%" height="400px"></iframe>
            </div>
        </div>
    </div> <!-- #travel -->
</div>
